
<div th:fragment="navbar">
    <a href="#" class="logo"><img  type="image" th:src="@{/images/MP_logo.png}" alt="logo" /></a>
    <div id="menu-bar" class="fas fa-bars"></div>
    <div class="links">
        <a th:href="@{~/dashboard/subscribers}">Subscribers</a>
        <a th:href="@{~/dashboard/broadcasts}">Broadcasts</a>
        <a th:href="@{~/dashboard/learn}">Learn</a>
        <a th:href="@{~/dashboard/profile}"
        ><img
                th:src="@{/images/MP_logo.png}"
                alt="Profile Pic"
                srcset=""
        /><span></span></a
        >
    </div>
</div>

