
<div th:fragment="navbar">
      <link th:href="@{/CSS/navbar.css}">
      <script th:src="@{/javascript/navbar.js}">

      </script>
      <a th:href="@{~/dashboard}" class="logo"
        ><img th:src="@{/images/MP_logo.png}" alt="logo" /></a
      >
      <div id="menu-bar" class="fas fa-bars"></div>
      <div class="links">
        <a th:href="@{~/dashboard/subscriber}">Subscribers</a>
        <a th:href="@{~/dashboard/broadcast}">Broadcasts</a>
        <a th:href="@{~/dashboard/learn}">Learn</a>
        <a th:href="@{~/dashboard/profile}"
          ><img
            th:src="@{/images/MP_logo.png}"
            alt="Profile Pic"
            srcset=""
          />
          <span th:text="${name}">
          </span>
        </a
        >
      </div>
</div>

