:root {
    --primary: #121147;
    --secondary: #fff;
    --third: #000;
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
#body {
    padding: 3% 0%;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 100vh;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

.left a {
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
    width: 100%;
    padding: 5%;
    text-decoration: none;
}

.left a:hover {
    background-color: var(--primary);
    border: 3px solid var(--secondary);
    color: var(--secondary);
    transition: 0.2s ease-in;
}

.right {
    background: aliceblue;
    border-radius: 20px;
    width: 60%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary);
}
.profile-info img{
    border-radius: 50%;
    border: 2px dotted var(--primary);
}
.details h3{
    margin-top: 2%;
}
form{
    margin-top: 3%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
form input {
    border: none;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    width: 100%;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: transparent;
    padding: 2%;
}
form span {
    height: 15%;
    display: flex;
    justify-content: space-between;
}
span input {
    height: 100%;
    width: 48%;
}
::placeholder {
    color: var(--primary);
    font-size: 1.4rem;
}
.right button {
    background-color: var(--primary);
    border-radius: 4%;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--secondary);
    padding: 2%;
}

.bottom-btn {
    display: flex;
    justify-content: end;
}
.bottom-btn button {
    margin-left: 3%;
    border-radius: 30%;
}
