:root {
  --primary: #121147;
  --secondary: #fff;
  --third: #000;
}
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
#body {
  padding: 3% 0%;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary);
  color: var(--secondary);
  min-height: 100vh;
}

.right {
  background: aliceblue;
  border-radius: 20px;
  width: 60%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary);
}
.profile-info img{
  border-radius: 50%;
  border: 2px dotted var(--primary);
}
.details h3{
  margin-top: 2%;
}
form{
  margin-top: 3%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
form input {
  border: none;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  width: 100%;
  font-size: 1.4rem;
  border-radius: 10px;
  background-color: transparent;
  padding: 2%;
}
form span {
  height: 15%;
  display: flex;
  justify-content: space-between;
}
span input {
  height: 100%;
  width: 48%;
}
::placeholder {
  color: var(--primary);
  font-size: 1.4rem;
}
