@font-face {
    font-family: 'outfit';
    src: url(static/font/Outfit-VariableFont_wght.ttf);}

:root{
    --primary: #121147;
    --secondary:#fff;
    --third:#000;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'outfit';
}
#main{
    background-color:var(--primary) ;
    min-width: 100vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    font-family: 'outfit';
}
#main h1{
    color: var(--secondary);
    font-size: 3rem;
    font-weight: 700;
    font-family: 'outfit';
}
.counter{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    font-family: 'outfit';
}
.inner-counter{
    width: 20%;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 2%;
    color: var(--primary);
    font-family: 'outfit';
}
.inner-counter h6{
    font-size: 1.5rem;
    margin-bottom: 10%;
    font-family: 'outfit';
}
.inner-counter p{
    font-size: 2rem;
    color: green;
    font-weight: 700;
    font-family: 'outfit';
}
.chart-outer canvas{
    margin-top: 3%;
    padding: 3%;
    border-radius: 10px;
    color: var(--secondary);
    height: 50vh;
    background: var(--secondary);
}
@media only screen and (max-width: 600px) {
    /* .counter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin-top: 3%;
    } */
}