@font-face {
    font-family: 'outfit';
    src: url(static/font/Outfit-VariableFont_wght.ttf);}
:root{
    --primary: #121147;
    --secondary:#fff;
    --third:#000;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background: var(--primary);
}
.upper-btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 0% 2%;
    font-family: 'outfit';
}
.upper-btns button{
    padding: 1%;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2rem;
    margin: 2% 0%;
    font-family: 'outfit';
}
i{
    color: var(--primary);
    margin-right: 2px;
    font-size: 1.5rem;
    background: var(--secondary);
    font-family: 'outfit';
}
.display-area{
    width: 90%;
    min-height: 50vh;
    background: var(--secondary);
    margin: 3%;
    border-radius: 10px;
    font-family: 'outfit';

}