/* setting up the variables */
:root {
  --primary: #121147;
  --secondary: #ebdfdf;
}
body {
  color: var(--secondary);
}
header {
  display: flex;
  justify-content: space-between;
  background: var(--primary);
  padding: 3%;
  flex-wrap: wrap;
}
header a {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
  /* min-width: 30%; */
}
.logo img {
  margin-right: 2%;
}
.links {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid hotpink;
}

.links a {
  font-size: 1.2rem;
  /* margin: 2% 0; */
  text-decoration: none;
  color: var(--secondary);
  padding: 3%;
  border: 1px solid green;
}
.links a:hover {
  /* border: 1px solid var(--secondary); */
  border-radius: 7px;
  color: var(--primary);
  background-color: var(--secondary);
  transition: 0.2s ease-in-out;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: var(--secondary);
  /* border: 0.1rem solid var(--secondary); */
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
  width: 12vw;
  
}
.main {
  background: var(--primary);
  min-height: 70vh;
  display: flex;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
}
.main h2 {
  font-size: 4rem;
  width: 50%;
  margin-left: auto;
  align-self: center;
}
.main2 {
  display: flex;
  padding: 3%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main2 h2 {
  color: black;
  font-size: 3rem;
  width: 45%;
}
iframe {
  /* border: 5px solid var(--primary); */
  border-radius: 18px;
  box-shadow: var(--primary) 5px 5px;
  width: 45%;
  height: 45vh;
}
iframe:hover {
  border: none;
  box-shadow: none;
  transition: 0.9s ease-in-out;
}
/* =========footer started======= */
footer {
  background: var(--primary);
  padding: 3%;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.column_footer {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.footer_link {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.column_footer .social_media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.column_footer img {
  width: 50px;
  height: 50px;
}

/* ======responsive========== */
@media (max-width: 880px) {
  .logo {
    width: 40%;
  }
  .links {
    width: 55%;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
  }
  .links {
    display: none;
  }
  #menu-bar {
    display: block;
  }

  .show_nav {
    padding-top: 2%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
}
