.modal-box{ font-family: 'Poppins', sans-serif; }
.show-modal{
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 200px auto 0;
    border: none;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: block;
    transition: all 0.3s ease 0s;
}
.show-modal:hover,
.show-modal:focus{
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    outline: none;
}
.modal-dialog{
    width: 400px;
    margin: 70px auto 0;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
    text-align: center;
    border: none;
}
.modal-content .close{
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-content .close:hover{
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.close:focus{ outline: none; }
.modal-body{ padding: 60px 40px 40px !important; }
.modal-body .title{
    color: #026fd4;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}
.modal-body .description{
    color: #9A9EA9;
    font-size: 16px;
    margin: 0 0 20px;
}
.modal-body .form-group{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}
.modal-body .input-icon{
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}
.modal-body .form-control{
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: #AEAFB1;
}
.form-group.checkbox{
    width: 130px;
    margin-top: 0;
    display: inline-block;
}
.form-group.checkbox label{
    color: #9A9EA9;
    font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
    margin-left: 0;
}
.modal-body .forgot-pass{
    color: #7F7FD5;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}
.forgot-pass:hover{
    color: #9A9EA9;
    text-decoration: underline;
}
.modal-content .modal-body .btn{
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
    .modal-content .modal-body{
        padding: 60px 20px 40px !important;
    }
}
/*Writing an essay is obliviously a difficult part of the CSS exam. Most candidates fail in the composition part of the CSS exam because they don’t understand the requirement of the essay. FPSC syllabus provides a detailed understanding of what an examiner wants you to write. Therefore, aspirants have to analyze the given topics and write upon them critically. Writing an essay will be an art if you are able to solve the problems asked by the examiner. Before explaining the mechanics of an essay, let’s have to understand the definition of an essay.
According to Wikipedia, “The word essay derives from the French infinitive essayer, “to try” or “to attempt”. In English essay first meant “a trial” or “an attempt”, and this is still an alternative meaning. The Frenchman Michel de Montaigne (1533–1592) was the first author to describe his work as essays; he used the term to characterize these as “attempts” to put his thoughts into writing.”

                                                                                                                                                                                                                                                                                                                   This means that an essay is a writer’s attempt to solve a problem or issue he is asked for. Or, an essay can be the name of expressing your thoughts on a topic based on a single subject matter. It often gives a personal opinion of the author.

To write an excellent essay, you have to focus on the four components mentioned and explained below. Let us explore and understand them one by one.

Content
This is an essential part of an essay. You can understand the structure, learn grammar and use it accurately, but you would never be able to write an outstanding essay if you lack useful content. A writer without content is like a soldier without a gun. As mentioned earlier, the essay explains the problem and its solution. For this, you have to make your ideas broader, and you have to think out of the box. Then and only then, you would critically analyze a problem and jot it down on a piece of paper.

Read books that you find subject-oriented to your topics. Read magazines, newspapers, and research papers. These sources will help you build the content which is required for an essay later.

Remember! Do not read books only. Those who read and accept are called consumeristic mindsets. They never come out of the box; rather, they acknowledge what they have read or seen. Instead, be a critical and keen observer while reading. It will make you competitive, critical, and creative enough that you would see unseen as well.

Structure
The second essential component of writing an essay is its structure. An essay cannot be written randomly without any structure; instead, it needs to be fixed in a frame that gives a systematic view to a reader. The structure of an essay has three main parts: the introduction, the body, and the conclusion, and let us understand each one individually.

Introduction (10% of an essay)
This is the first paragraph of an essay. The introduction of an essay introduces the topic that has to be explained later; it has two jobs to do. First, it tells the reader or examiner what the essay is all about. Second, it grabs the reader’s or examiner’s attention at the very beginning of an essay so that he stays till last.

There are three additional elements to be focused on in the introduction: the motivator/hook, bridge, and thesis statement.

A motivator or hook is a statement that a writer uses to attract his reader or examiner. He uses quotations, famous sayings, questions, proverbs, facts, or short stories that win the reader’s interest.

The element in an introduction is called a bridge. It helps the writer to connect his motivator or hook to the main idea. He brings the reader to the point where he is going to explain his opinion. In short, it brings the reader towards the exact topic.

The last element in the introduction of an essay is called Thesis Statement. This statement offers the purpose and concise summary of an overall essay, and it shows a road map to the reader that he will go through in the body of an essay. Briefly explain in one or two statements what your essay is all about and the purpose of your essay.

Remember! A good introduction will always give you a good essay.

Body (80% of an essay)
After you have written a wonderful introduction, now is the time to expand your introduction into greater detail. The body is composed of paragraphs that support the main idea you have introduced at the start of your essay.

Each paragraph should have a clincher statement at the end, and it resolves whatever questions or claims were previously put forth. It should not end the topic ultimately; rather, it should connect the upcoming paragraph in a way that the reader thinks that the previous paragraph was a prerequisite of the next one.

You can support your main idea with facts and figures, reasons, references, case studies, etc. there is another formula used for supporting the main idea, which is called FRIES. Here, “F” stands for the facts that you can provide to your topic, “R” stands for reasons, “I” stands for incidence, “E” stands for examples, and “S” stands for statistics. All these elements or some of them can help you strengthen your reasoning in an essay. Use them gently and be authentic.

Indeed, the primary goal of solving a problem or issue given in the topic should not be forgotten.

Conclusion (10% of an essay)
Last but not least is the conclusion of an essay. Your conclusion should do two jobs. First, it should provide a summarized view of the essay. In other words, it should reflect what you have introduced in the beginning. Second, it should predict the future aspects. If your essay didn’t solve a problem or express a topic with the writer’s opinion, it should not be called an essay. The conclusion of an essay should briefly show the prediction of the topic.

Grammar
The third essential component of an essay is grammar. You should have sound grammar to use in your writing. If you don know good grammar, you would be unable to write an excellent essay. You would never know what you have written correctly and what you have written wrong. There are some grammar topics that we recommend you improve one by one.

Tenses: This is the first area of grammar that provides you with an understanding of the time perspective of a sentence. Learn them first of all as they are heavily used in the best part of the grammar.

Parts of Speech:  Many aspirants take them easy. Some of them just read them and cram the definition of parts of speech. Remember! There is a difference between one who knows the definition and one who knows the actual use. Be the latter one so that you use them conceptually.

Narrations: Writing heavily deals with narration. You should have a great command of direct and indirect narration, and it will help you to use them whenever required in writing correctly.

Conditionals: Most people get confused when they are using conditionals. Remember that each conditional has syntax semantics and pragmatics, and use them correctly when writing.

Types of sentences: You should improve the types of sentences. For example, affirmative, optative, imperative, interrogative, and explanatory sentences will help you have a better understanding of them while writing.

Forms of the sentence: There are four primary forms of a sentence: simple, compound, complex and compound-complex. This is the most essential part of written communication. Sometimes, aspirants think that they have written an outstanding essay without any grammatical mistakes, but they are unable to rectify structural mistakes.

Phrases: Phrases are important to be studied. They are used as different parts of speech, and learning them will prevent you from committing mistakes in big units.

Clauses: Clauses provide a real understanding of a sentence. If you have a great command of clauses, you will use them correctly without any structural mistakes.

Punctuations: Punctuations can give a great sense or can completely destroy the meanings. Knowing punctuation for writing an essay is very necessary, and you can inspire your examiner or reader if you know the great use of punctuation.

These areas of grammar must be good enough for writing a brilliant essay. If you know them yourself, you can easily take out your mistakes.

Instructions to be followed while writing an essay
The fourth essential component of an essay is the instructions that serve as necessary principles in an essay. Below are some principles or instructions that should be understood while writing an essay.

Objective approach
When you start writing an essay, you first deal with the title of an essay. Capturing the exact meanings in the beginning is very important. Have an objective approach so that you stay on track.

Unity
This refers to the oneness. All paragraphs in an essay should be related, and it must show that the paragraphs written in an essay come from one family.

Coherence
Chaining between sentences is called coherence. Each sentence should be accurately connected with one another in a meaningful manner, and every previous sentence should look like it was a pre-requisite for the next one. To gain coherence, use transitional words.

Order
Write all ideas in a logical order. Your reader should see the most important points in the beginning and the weaker ones later. You should have a chronological order of ideas in your essay.

Varity
Variety refers to the change of words, examples, and thoughts for one topic. It often bores the readers when you repeatedly use the exact words, ideas, or examples for one topic again and again.

Brevity
Writing three thousand words in the CSS exam would never mean that you should exaggerate unnecessary words. In other words, it refers to the addition of adverbs and adjectives that are unnecessarily coming in your writing. Be brief. You can add a variety of examples but not too many adjectives and adverbs. The more you write a brief, the clearer it will be to the readers.

All these are the tips and tricks that can help you write an excellent essay. Read books because they will always broaden your ideas. Look at sample essays or books of essays that provide a better understanding of the expert’s work. If you need CSS books, or even past papers and FPSC Syllabus that can build your content for the CSS exam, contact us now, and we will deliver them free of cost.
/**/