/* setting up the variables */
@font-face {
  font-family: 'outfit';
  src: url(static/font/Outfit-VariableFont_wght.ttf);}


:root{

  --primary:#121147;

  --secondary:#ebdfdf;
}

*{
  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body{
  font-family: 'outfit';

  color: var(--secondary);

}

header{

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  background: var(--primary);

  padding: 2%;
  font-family: 'outfit';

}

a{

  color: var(--secondary);

  text-decoration: none;
  font-family: 'outfit';

}

/* header */

.logo img{

  width: 110px;

}

.links{

  min-width: 40%;

  display: flex;

  justify-content: space-around;

}

.links a{

  font-size: 1.3rem;

  margin: 2%;

}
.links a:hover{
  font-weight: bolder;
  font-size: large;
}

.main{

  
  background: var(--primary);

  min-height: 70vh;

  display: flex;
  
  /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */
  
  -webkit-clip-path: polygon(0% 50%, 110% 100%, 100% 100%, 100% 100%, 100% -200000%);
  clip-path: polygon(0% 50%, 110% 100%, 100% 100%, 100% 100%, 100% -200000%);
  font-family: 'outfit';

}

.main h2{

  font-size: 4rem;

  width: 50%;

  margin-left: auto;

  align-self: center;
  font-family: 'outfit';

}

.main2{

  display: flex;

  padding: 3%;

  flex-wrap: wrap;
  font-family: 'outfit';
}

.main2 h2{

  color: black;

  font-size: 3rem;

  width: 50%;
  font-family: 'outfit';
}

/* =========footer started======= */

footer{

  background: var(--primary);

  padding: 3%;

  display: flex;

  justify-content: space-around;

  border-top-left-radius: 30px;

  border-top-right-radius: 30px;
  font-family: 'outfit';
}

.column_footer{

  width: 20%;

  display: flex;

  justify-content: space-around;
  font-family: 'outfit';

}

.footer_link{

  display: flex;

  flex-direction: column;

  width: 20%;

}

.column_footer .social_media{

  display: flex;

  flex-direction: column;

  justify-content: space-around;

}

.column_footer img{

  width: 50px;

  height: 50px;
  font-family: 'outfit';
}