@font-face {
	font-family: 'outfit';
	src: url(static/font/Outfit-VariableFont_wght.ttf);}
body {
	font-family: "outfit";
}
.modal-confirm {		
	color: #ffffff; 
	width: 400px;
}
.modal-confirm .modal-content {
	
	box-sizing: border-box;
	position: absolute;
	width: 600px;
	height: 200px;
	background: #121147;
	border: 1px solid #000000;
	border-radius: 51px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
	color: rgb(0, 0, 0);
	border-radius: 4px;
	background: #ffffff;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 50px;
	border-radius: 20px;
	margin: 0 5px;
	font-family: "outfit";
}

