:root {
  --primary: #121147;
  --secondary: #ebdfdf;
}
.newsletter-container {
  background-color: var(--primary);
  min-height: 100vh;
  color: var(--secondary);
  padding-bottom: 3%;
}
h1 {
  text-align: center;
  color: var(--secondary);
  font-size: 3rem;
  padding: 2% 0;
}
