body {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
}
.header2 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}

.logo{
  height: 20%;
  width: 40%;
  padding: 20%;
}

.signup-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  /* background-color: #121147; */
  width: 70%;
  min-height: 70vh;
}
.right_login {
  background-color: #ffffff;
  height: 70vh;
  width: 50%;
  padding: 3%;
}
.right_login h1 {
  color: #121147;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: bolder;
}
.socialmedia_icon{
  width: 70%;
  padding: 170%;
}
.formcontrol input {
  border: none;
  border-bottom: 1px solid #121147;
  background: transparent;
  outline: none;
  height: 3rem;
  color: #121147;
  font-size: 1.5rem;
  line-height: 1em;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.015em;
  text-align: left;
  font-family: Poppins;
}
/* .summitbutton {
  width: 50%;
  height: 40%;
  background: #121147;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 122.69%;
  letter-spacing: 0.015em;
  color: #f9fbff;
} */

.summitbutton {
  width: 100%;
  height: 50px;
  background: #121147;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 122.69%;
  letter-spacing: 0.015em;
  color: #f9fbff;
}
form p{
  font-family: Poppins;
  font-size: 1.4rem;
  color: #121147;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.015em;
text-align: left;
/* border: 2px solid red; */
}

.header2 h2{
  width: 50%;
  height: 101px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 122.69%;
/* or 49px */

letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.container{
    display: flex;
    height: 75vh;
    width: 100%;
    background: #121147;
}
.black{
    background: #121147;
    flex:1;
}
.whitecontainer{
    background: white;
    flex:1.2;
}
.white{
    width: 0;
    height: 0;
    border-bottom: 700vh solid white;
    border-left: 600px solid transparent;
}

/* .logo{
  width: 100%;
  height: 120px;
} */