:root {
  --primary: #121147;
  --secondary: #ebdfdf;
}

.upper-part{
  padding: 3%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{ 
  padding: 2%;
  border-radius: 8px 0 8px 0;
  font-size: 1rem;
  width: 70%;
}
.search button{
  width: 30%;
}
button,select {
  border-top: 5px solid var(--secondary);
  border-bottom: 5px solid var(--secondary);
  padding: 1.5%;
  font-size: 1rem;
  border-radius: 8px;

}


 button:hover, select:hover{
  border-top: 5px solid #79d3fc;
  border-bottom : 5px solid #79d3fc;
}
.lower-part{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2%;
  flex-wrap: wrap;
}
.subscriber-form{
  border: 2px solid var(--secondary);
  width: 75%;
}
.side-part{
  border: none;
}
.side-part h3{
  font-size: 2rem;
  color: var(--secondary);
  display: flex;
  align-items: center;
  flex-direction: column;

}.side-part h3 span{
  font-size: 4rem;
  text-align: center;
}
.mini{
  margin-top: 10%;
}
.mini button{
  margin: 3% 0;
}
