<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcast</title>
    <script type="text/javascript" th:src="@{/javascript/navigationbar.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/broadcast.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
<navigation-bar></navigation-bar>
<div class="upper-btns">
    <button>All Broadcast</button>
    <button>Draft</button>
    <button>Completed</button>
    <button onClick="window.location.th:href='newbroadcast.html';"><i class="fa-solid fa-circle-plus"></i>New Broadcast</button>
</div>
<div class="display-area">

</div>
</body>
</html>