<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″>
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <title>Edit Tag</title>

    <link rel="stylesheet" th:href="@{~/css/edittag.css}">

</head>
<body>
<div class=”container”>
    <div class=”row”>
        <div class=”col-md-12″>
            <div class=”modal-box”>
                <button type=”button” class=”btn btn-primary btn-lg show-modal” data-toggle=”modal” data-target=”#myModal”></button>
                <div class=”modal fade” id=”myModal” tabindex=”-1″ role=”dialog” aria-labelledby=”myModalLabel”>
                    <div class=”modal-dialog” role=”document”>
                        <div class=”modal-content clearfix”>
                            <–Close button–>
                            <div class=”modal-body”>
                                <button type="button" class="btn btn-primary btn-lg show-modal" data-toggle="modal" data-target="#myModal">
                                    Login Form
                                </button>
                                div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content clearfix">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <h3 class="title">Login Form</h3>
                                            <p class="description">Login here Using Email & Password</p>
                                            <div class="form-group">
                                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                                <input type="email" class="form-control" placeholder="Enter email">
                                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>