<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edit_author.css">
    <title>Edit author</title>
</head>
<body>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="John Doe"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="johndoe@example.com"><br>
        <!-- <label for="bio">Bio:</label>
        <textarea id="bio" name="bio">John Doe is a bestselling author with over 20 years of experience in the publishing industry.</textarea><br>
        <input type="submit" value="Update Author">
      </form>
    
</body>
</html> -->