<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Notification</title>
  <script type="text/javascript" type="text/javascript" th:src="@{/javascript/navigationbar.js}" defer>
  </script>

  <link rel="stylesheet" type="text/css" th:href="@{/CSS/notification.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/faq.css}">
</head>

<body>
  <navigation-bar></navigation-bar>
  <section id="body">
    <div class="left">
      <a th:href="@{~/dashboard/profile}">Account Details</a>
      <a th:href="@{~/dashboard/notification}">Notifications</a>
      <a th:href="@{~dashboard/faq}">Help?</a>
      <a th:href="@{~/logout}">Logout</a>
    </div>
    <div class="right">
      <div class="upper_part">
        <h1>FAQs</h1>

        <div class="wrapper">

          <div class="container">
            <div class="question">
              How do I verify my email?
            </div>
            <div class="answercont">
              <div class="answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsam minima, ratione dolore
                voluptatem atque at quos esse tenetur vel cumque, voluptates, doloremque velit non sed! Laboriosam
                consequuntur velit aliquam odio molestias pariatur autem.
              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              My Pen loads infinitely or crashes the browser.
            </div>
            <div class="answercont">
              <div class="answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis assumenda in natus molestias itaque!
                Quaerat ab delectus quo quas nesciunt, libero qui rem reprehenderit illum itaque saepe similique,
                commodi illo repellendus aut adipisci.<br><br>

              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              How do I contact the creator of a Pen?
            </div>
            <div class="answercont">
              <div class="answer">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia facilis beatae saepe.<br><br>

                <a href="https://blog.codepen.io/documentation/faq/how-do-i-contact-the-creator-of-a-pen/">How to
                  Contact Creator of a Pen Docs</a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              What version of [library] does CodePen use?
            </div>
            <div class="answercont">
              <div class="answer">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa eius est iste neque cum eveniet
                dignissimos labore ducimus. Laborum labore veritatis vel?

              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              What are forks?
            </div>
            <div class="answercont">
              <div class="answer">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam in cumque temporibus quod dolorum
                provident ab modi tempora impedit ipsam.<br><br>

              </div>
            </div>
          </div>

        </div>


        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>

        <script>
          let question = document.querySelectorAll(".question");

          question.forEach(question => {
            question.addEventListener("click", event => {
              const active = document.querySelector(".question.active");
              if (active && active !== question) {
                active.classList.toggle("active");
                active.nextElementSibling.style.maxHeight = 0;
              }
              question.classList.toggle("active");
              const answer = question.nextElementSibling;
              if (question.classList.contains("active")) {
                answer.style.maxHeight = answer.scrollHeight + "px";
              } else {
                answer.style.maxHeight = 0;
              }
            })
          })

        </script>







      </div>

      <div class="bottom-btn">
        <button>Cancel</button>
        <button>Save Changes</button>
      </div>
    </div>
  </section>
</body>

</html>