<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Manage Point</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/global.css}" />
</head>

<body>
    <header>
        <a href="#" class="logo"><img th:src="@{/images/MP_logo.png}" alt="logo" />Manage Point</a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <div class="links">
            <a th:href="@{~/user/keyfeatures}">
                Key Features
            </a>
            <a th:href="@{~/user/resources}">
                Resources
            </a>
            <a th:href="@{~/login}">
                Login
            </a>
            <a th:href="@{~/user/create}" class="signup">
                Sign Up
            </a>
        </div>
    </header>

    <div class="main">
        <h2>Best Creator Marketing Tool for Beginner</h2>
    </div>
    <div class="main2">
        <h2>
            The go-to marketing hub for creators that helps you grow your audience
            with ease.
        </h2>

            <iframe src="https://www.youtube.com/embed/swsFW8TT6P4"
                title="ManagePoint | Introduction (Tutorial Video For Beginners)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      
    </div>
    <footer>
        <div class="footer_link">
            <h3>About Us</h3>

            <p>
                Powerful, Simplified tool to send emails,Grow your audience, Engage
                with customers, Get your business online
            </p>
<!--            <p1>Learn More</p1>-->
        </div>

        <div class="column_footer">
            <h3>
                FAQ?

                <p>What is digital marketing?</p>
                <p1>What’s the best way to grow my email lists?</p1>
            </h3>
        </div>

        <div class="footer_link">
            <h3>Links</h3>

            <a th:href="@{~/index}">
                Home
            </a>

            <a th:href="@{~/user/resources}">
                Resources
            </a>

            <a th:href="@{~/login}">
                Login
            </a>

            <a th:href="@{~/user/create}">
                Signup
            </a>

        </div>

        <div class="column_footer">
            <div class="social_media">
                <i class="fa-brands fa-facebook-f">

                </i>

                <i class="fa-brands fa-instagram">

                </i>

                <i class="fa-brands fa-twitter">

                </i>

                <i class="fa-brands fa-whatsapp">

                </i>
            </div>

            <img th:src="@{/images/MP_logo.png}" alt="" />
        </div>
    </footer>
</body>
<script type="text/javascript" th:src="@{/javascript/script.js}">

</script>

</html>