<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/CSS/global.css}" />
    <link rel="stylesheet" th:href="@{/CSS/createAccount.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta
      name="google-signin-client_id"
      content="407054153706-enhsit4msbriahvhumvvrrgfbv5hqni5.apps.googleusercontent.com"
    />
  </head>
  <body>
    <section id="left">
      <div class="top">
        <img th:src="@{/images/MP_logo.png}" alt="managepoint logo" />
        <h1>Manage Point</h1>
      </div>
      <div class="social">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-discord"></i>
      </div>
    </section>

    <section id="right">
      <h1>Create Account</h1>
      <form method="post" th:action="@{/login}" id="loginform" class="signup">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
          required autofocus
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required autofocus
        />
        <button type="submit"  >Login</button>
      </form>

      <p>Don't have an account? <a th:href="@{~/user/create}">Create Account</a></p>
<!--      <h6> OR</h6>-->
<!--      <div class="googlesignin">-->
<!--        <div class="g-signin2" data-onsuccess="onSignIn"></div>-->

<!--        <script-->
<!--          src="https://apis.google.com/js/platform.js"-->
<!--          async-->
<!--          defer-->
<!--        ></script>-->
<!--        <script>-->
<!--          function onSignIn(googleUser) {-->
<!--            var profile = googleUser.getBasicProfile();-->
<!--            console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.-->
<!--            console.log("Name: " + profile.getName());-->
<!--            console.log("Image URL: " + profile.getImageUrl());-->
<!--            console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.-->
<!--          }-->
<!--        </script>-->
<!--      </div>-->
    </section>
  </body>
</html>
