<!DOCTYPE html>
<html lang="en" dir="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LogInpage</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <style>
    body{
      background-image: url('bg.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:100% 100% ;

    }
  </style>
  <body>
    <div class="LogIn-wrapper">
      <form class="LogIn" method="post">
        <div class="header">
          <h1>LogIn</h1>
        </div>
  
        <div class="main">
          <div class="form-control-left">
  
            </div>
  
            <div class="formcontrol">
              <!-- <label2 class ="text" for="Email">Email Address</label> -->
              <input type="text" name="email" placeholder="Email"/>
            </div>
  

            <div class="formcontrol">
              <!-- <label5 for="Password">Password</label> -->
              <input type="password" placeholder="Password"/>
            </div>
            </div>
  
      
              <p>Don't have an account? <a href="#" class="link-primary">Sign Up?</a></p>
              
            </div>
  
            </div>
            
            <div class="button">
                <button type="button" name="Summit">LogIn</button>

            </div>
            <div>
        
            <p> <b href="#" class="link-primary">Forgot Password?</b></p>
              
        </div>

      </div>
  
  
      </form>
    </div>
  </body>
</html>