<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Broadcast</title>
    <script src="./navigationbar.js"></script>
    <link rel="stylesheet" href="./css/newbroadcast.css">

    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
</head>

<body>
<header th:replace="fragments/navbar :: navbar"
        th:with="profileName=${name}"/>


    <div class="texteditor">

        <div id="froala">
    
        </div>
        <button>Submit</button>
    </div>
</body>
<script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script>
    var editor = new FroalaEditor("#froala");
</script>

</html>