<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <script src="./navigationbar.js"></script>
    <link rel="stylesheet" href="./css/newsletter.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <navigation-bar></navigation-bar>
    <div class="newsletter-container">
      <h1>Newsletters</h1>
      <div class="individual-container">
        <img src="./assets/MP_logo.png" alt="" srcset="" />

        <div class="section">
          <h2>Title of newsletter</h2>
          <div class="readmore">
            <p>
              Paragraph oneeeeeeeeeeeeeeeee. this is long text. this is long text. this is long
              text. this is long text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum rem itaque excepturi voluptate, quae, natus voluptas laudantium non ducimus velit fuga? Minus magnam molestias similique quis commodi quod, esse porro optio? Doloribus, tempora. Voluptatibus illum, doloremque placeat nemo, maiores cum deserunt impedit quasi odit, reiciendis dolor nam velit. Repudiandae.
            </p>
            <p>
              Paragraph two. this is long text. this is long text. this is long
              text. this is long Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem iure illum quibusdam! Non esse sint iste! Ea excepturi, iste minima perferendis exercitationem incidunt minus placeat quas expedita laudantium consectetur quasi, est aperiam reprehenderit atque a totam quaerat, optio inventore. Obcaecati ad aliquid quam eum. text. this is long text.
            </p>
            <span class="readmore-link"></span>
          </div>
        </div>
      </div>
      <div class="individual-container">
        <img src="./assets/MP_logo.png" alt="" srcset="" />

        <div class="section">
          <h2>Title of newsletter</h2>
          <div class="readmore">
            <p>
              Paragraph oneeeeeeeeeeeeeeeee. this is long text. this is long text. this is long
              text. this is long text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum rem itaque excepturi voluptate, quae, natus voluptas laudantium non ducimus velit fuga? Minus magnam molestias similique quis commodi quod, esse porro optio? Doloribus, tempora. Voluptatibus illum, doloremque placeat nemo, maiores cum deserunt impedit quasi odit, reiciendis dolor nam velit. Repudiandae.
            </p>
            <p>
              Paragraph two. this is long text. this is long text. this is long
              text. this is long Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem iure illum quibusdam! Non esse sint iste! Ea excepturi, iste minima perferendis exercitationem incidunt minus placeat quas expedita laudantium consectetur quasi, est aperiam reprehenderit atque a totam quaerat, optio inventore. Obcaecati ad aliquid quam eum. text. this is long text.
            </p>
            <span class="readmore-link"></span>
          </div>
        </div>
      </div>
      <div class="individual-container">
        <img src="./assets/MP_logo.png" alt="" srcset="" />

        <div class="section">
          <h2>Title of newsletter</h2>
          <div class="readmore">
            <p>
              Paragraph oneeeeeeeeeeeeeeeee. this is long text. this is long text. this is long
              text. this is long text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum rem itaque excepturi voluptate, quae, natus voluptas laudantium non ducimus velit fuga? Minus magnam molestias similique quis commodi quod, esse porro optio? Doloribus, tempora. Voluptatibus illum, doloremque placeat nemo, maiores cum deserunt impedit quasi odit, reiciendis dolor nam velit. Repudiandae.
            </p>
            <p>
              Paragraph two. this is long text. this is long text. this is long
              text. this is long Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem iure illum quibusdam! Non esse sint iste! Ea excepturi, iste minima perferendis exercitationem incidunt minus placeat quas expedita laudantium consectetur quasi, est aperiam reprehenderit atque a totam quaerat, optio inventore. Obcaecati ad aliquid quam eum. text. this is long text.
            </p>
            <span class="readmore-link"></span>
          </div>
        </div>
      </div>
      <div class="individual-container">
        <img src="./assets/MP_logo.png" alt="" srcset="" />

        <div class="section">
          <h2>Title of newsletter</h2>
          <div class="readmore">
            <p>
              Paragraph oneeeeeeeeeeeeeeeee. this is long text. this is long text. this is long
              text. this is long text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum rem itaque excepturi voluptate, quae, natus voluptas laudantium non ducimus velit fuga? Minus magnam molestias similique quis commodi quod, esse porro optio? Doloribus, tempora. Voluptatibus illum, doloremque placeat nemo, maiores cum deserunt impedit quasi odit, reiciendis dolor nam velit. Repudiandae.
            </p>
            <p>
              Paragraph two. this is long text. this is long text. this is long
              text. this is long Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem iure illum quibusdam! Non esse sint iste! Ea excepturi, iste minima perferendis exercitationem incidunt minus placeat quas expedita laudantium consectetur quasi, est aperiam reprehenderit atque a totam quaerat, optio inventore. Obcaecati ad aliquid quam eum. text. this is long text.
            </p>
            <span class="readmore-link"></span>
          </div>
        </div>
      </div>




    </div>
    <script>
      $(".readmore-link").click(function (e) {
        // record if our text is expanded
        var isExpanded = $(e.target).hasClass("expand");

        //close all open paragraphs
        $(".readmore.expand").removeClass("expand");
        $(".readmore-link.expand").removeClass("expand");

        // if target wasn't expand, then expand it
        if (!isExpanded) {
          $(e.target).parent(".readmore").addClass("expand");
          $(e.target).addClass("expand");
        }
      });
    </script>
  </body>
</html>
