<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Send Email</title>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/sendemailbytag.css}">

</head>

<body>
    <header>

        <div class="logo">

            <img th:src="@{/images/MP_logo.png}" height="90" alt="">

            <span>
                <h1>Manage Point</h1>
            </span>

        </div>

        <div class="links">

            <a href="#">Key Features</a>

            <a href="#">Resources</a>

            <a href="#">Login</a>

            <a href="#" class="signup">Sign Up</a>

        </div>

    </header>

    <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="fname">Full Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="fullname" placeholder="Your Full name..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Email</label>
            </div>
            <div class="col-75">
              <input type="text" id="email" name="Email" placeholder="Your Email..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="Reason">Reason</label>
            </div>
            <div class="col-75">
              <select id="Personal Use" name="Personal Use">
                <option value="Personal Use">Personal Use</option>
                <option value="Business Use">Business Use</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">Subject</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
</body>

</html>