<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subscriber</title>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/subscriber.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/CSS/navigationbar.css}" } />
  <script type="text/javascript" th:src="@{/javascript/navigationbar.js}"></script>
</head>

<body>
<header>
  <div class=flex-top th:replace="~{fragments/navigationbar.html :: navbar}"> </div>
</header>
<!--<navigation-bar></navigation-bar>-->
<div class="upper-part">

  <select id="subscriber_type">
    <option value="all-subscriber">All Subscriber</option>
    <option value="totalemail">Email</option>
  </select>
  <form class="search" action="">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Search</i></button>
  </form>
</div>
<div class="lower-part">
  <table id="customers">
    <tr>
      <th>Subscriber</th>
      <th>Subscribtion date</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>basnata sfdsaf</td>
      <td>23/3/2022</td>
      <td>Subscribed</td>
    </tr>
    <tr>
      <td>basnata sfdsaf</td>
      <td>23/3/2022</td>
      <td>Subscribed</td>
    </tr>
    <tr>
      <td>basnata sfdsaf</td>
      <td>23/3/2022</td>
      <td>Subscribed</td>
    </tr>

  </table>
  <div class="side-part">
    <h3>Subscriber count: <span>0</span></h3>
    <div class="mini">
      <button>Add subscriber</button>
      <button>Manage preference</button>
    </div>
    <div class="mini"></div>
  </div>
</div>
</body>
<script>
  const navToggle = document.querySelector("#menu-bar");
  const link = document.querySelector(".links");

  navToggle.addEventListener("click", function () {
    navToggle.classList.toggle("fa-times");
    link.classList.toggle("show_nav");
  });
</script>
</html>